#resume-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#resume {
  margin: 0 auto;
  width: 80%;
  aspect-ratio: 8.5 / 11;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.mobile-hidden {
  visibility: hidden;
}

#forms-container {
  width: fit-content;
  margin: 0 auto;
}

#forms-container {
  margin-top: 20px;
}

#forms-container > *:nth-child(n + 2){
  margin-top: 40px;
}

@media screen and (min-width: 770px) {
  #resume {
    display: block;
    height: 85%;
    width: auto;
    aspect-ratio: 8.5 / 11;
  }
  
}


@media screen and (min-width: 1200px) {
  #forms-container {
    margin-top: 0px;
  }

  #forms-container, #resume-container {
    position: static;
  }

  #forms-container {
    width: 35%;
  }

  #resume-container {
    width: 65%;
  }

  #resume-container {
    align-items: normal;
  }

  #resume-container, #forms-container {
    padding-top: 50px;
  }

  .mobile-hidden {
    visibility: visible;
  }
  
}