@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@400;700&display=swap');

input, label {
  display: block;
}

label {
  color: rgb(110, 110, 110);
}

input {
  margin-top: 2.5px;
  width: 100%;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid black;
  font-size: 18px;
}

button:hover {
  cursor: pointer;
}

input:focus {
  border: none;
  border-bottom: 1px solid black;
}


h1 {
  font-family:'Times New Roman', Times, serif
}

.dropdown-button {
  width: 100%;
  background-color: white;
  border: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: 3px solid black;
  margin-bottom: 10px;
  background-color: lightslategray;
}

.dropdown-button:active {
  border: none; 
}

.dropdown-button > h1 {
  text-transform: uppercase;
  font-family: 'Saira Condensed', 'Times New Roman';
  font-weight: bold;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-container {
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 20px;
}

.add-job, .finish-adding-job {
  background-color: #3CC2DF;
  font-size: 24px;
  padding: 10px 20px;
  display: block;
  margin-top: 24px;
  border-radius: 20px;
  margin-left: auto;
  font-weight: bold;
}

button[type="submit"]{
  display: block;
  background-color: #3CC2DF;
  text-transform: uppercase;
  margin-top: 20px;
  padding: 10px 15px;
  font-weight: bold;
  border-radius: 20px;
  margin-left: auto;
}

.form-container-excluding-header {
  padding: 0px 40px 20px 40px;
}

.jobs-list {
  display: flex;
  flex-direction: column;
}

.jobs-list button {
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 24px;
  padding: 10px 0px;
  border-top: none;
  border-right: none;
  border-left: none;
  text-transform: uppercase;
}

.work-experience-form {
  margin-top: 20px
}

@media screen and (min-width: 1200px) {
  .dropdown-button > h1 {
    font-size: 36px;
  }
}