.jobs-list {
  display: flex;
  flex-direction: column;
}

.jobs-list button {
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 24px;
  padding: 10px 0px;
  border-top: none;
  border-right: none;
  border-left: none;
  text-transform: uppercase;
}
